# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
*.db

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Env
.env
backend/.env

# Docker
docker/postgres_data/

# OS
.DS_Store
Thumbs.db
.hermes/
